<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{COMPANYNAME}} - Password Change</title>
</head>

<body>
    <div style="font-family: Helvetica,Arial,sans-serif;min-width:360px;overflow:auto;line-height:2">
        <div style="margin:50px auto;width:70%;padding:20px 0">
            <div style="border-bottom:1px solid #eee">
                <a href="" style="font-size:1.4em;color: #00466a;text-decoration:none;font-weight:600">Sayble</a>
            </div>
            <p style="font-size:1.1em">Hi {{FIRSTNAME}},</p>
            <p>We received a request to change your password. This OTP is valid for a single use and should not be shared with anyone.
                If you did not request this OTP, please contact our support immediately.</p>
            <h2
                style="background: #000000;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;">
                {{OTP}}</h2>
            <p style="font-size:0.9em;">Regards, <br />Sayble Dev </p>
            <hr style="border:none;border-top:1px solid #eee" />
            <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
                <p>Sayble</p>
            </div>
        </div>
    </div>
</body>

</html>